@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,400i,700,700i&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Bould Regular';
  src: url("../assets/fonts/bould-regular-webfont.eot");
  src: url("../assets/fonts/bould-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bould-regular-webfont.woff2") format("woff2"), url("../assets/fonts/bould-regular-webfont.woff") format("woff"), url("../assets/fonts/bould-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bould Bold';
  src: url("../assets/fonts/bould-bold-webfont.eot");
  src: url("../assets/fonts/bould-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/bould-bold-webfont.woff2") format("woff2"), url("../assets/fonts/bould-bold-webfont.woff") format("woff"), url("../assets/fonts/bould-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

::-moz-selection {
  background: #09b97f;
  color: #fff;
}

::selection {
  background: #09b97f;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.wrapper__header {
  text-align: left;
  padding: 30px;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

@media screen and (min-width: 768px) {
  .wrapper__header {
    border: none;
    text-align: right;
    padding: 60px;
  }
}

.wrapper__header--dark {
  background-color: #f8f8f8;
}

.wrapper__header--light {
  background-color: #fbfbfb;
}

.wrapper__header--footer {
  background-color: #2e2e2e;
}

.wrapper__content {
  padding: 30px;
  background-color: lightgrey;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .wrapper__content {
    padding: 60px;
  }
}

.wrapper__content--dark {
  background-color: #fcfcfc;
}

.wrapper__content--light {
  background-color: #fff;
}

.wrapper__content--footer {
  background-color: #353535;
}

.wrapper__heading {
  font-family: Lato, sans-serif;
  font-size: 1.7rem;
  color: #727272;
  margin-bottom: 1rem;
}

.wrapper__desc {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  color: #727272;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

@media screen and (min-width: 1024px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
  }
}

.hero__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 30px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .hero__photo {
    background-color: #fcfcfc;
    padding: 80px;
  }
}

.hero__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 1024px) {
  .hero__content-wrapper {
    padding: 80px;
  }
}

.hero__img {
  width: 150px;
  height: 150px;
  background-color: #8f8f8f;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .hero__img {
    position: relative;
    top: -3rem;
    width: 220px;
    height: 220px;
  }
}

.hero__heading1 {
  color: #939393;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 100%;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero__heading1 {
    text-align: left;
    font-size: 6rem;
    margin-bottom: 3rem;
  }
}

.hero__surname {
  color: #09b97f;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__heading2 {
  color: #939393;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero__heading2 {
    text-align: left;
    font-size: 2.2rem;
  }
}

.hero__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.hero__icon:hover svg {
  fill: #09b97f;
}

.hero__icon:last-child {
  margin: 0;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .hero__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hero__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .hero__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__social-media {
  font-size: 0;
  margin: 50px 0;
}

@media screen and (min-width: 1024px) {
  .hero__social-media {
    margin: 0;
  }
}

.hero__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  font-family: Lato, sans-serif;
  color: #939393;
  font-size: 1.3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__contact-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 25px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
}

.hero__contact-field:hover {
  border-color: #09b97f;
  color: #09b97f;
}

@media screen and (min-width: 460px) {
  .hero__contact-field {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .hero__contact-field {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: left;
    border-top: 1px solid #dddddd;
  }
}

.hero__contact-link {
  text-decoration: none;
  color: inherit;
}

.hero__contact-link::after {
  content: " →";
}

.hero__contact-title {
  margin-bottom: 1.2rem;
}

.hero__svg-icon {
  -webkit-transition: .3s;
  transition: .3s;
  fill: #939393;
}

.intro {
  max-width: 800px;
}

.intro__text {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  line-height: 170%;
  margin-bottom: 2rem;
  color: #616161;
}

.intro__text:last-child {
  margin: 0;
}

.experience {
  width: 100%;
  max-width: 800px;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
}

.experience__row {
  padding-bottom: 50px;
  border-left: 2px solid #ececec;
  position: relative;
}

.experience__row:last-child {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .experience__row {
    padding-bottom: 60px;
  }
}

.experience__title {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-left: 30px;
  margin-bottom: 20px;
}

.experience__dot {
  width: 10px;
  height: 10px;
  background-color: #09b97f;
  position: absolute;
  top: 0;
  left: -6px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px #fff;
          box-shadow: 0 0 0 6px #fff;
}

.experience__desc-wrapper {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-left: 30px;
}

@media screen and (min-width: 1024px) {
  .experience__desc-wrapper {
    padding: 0;
  }
}

.experience__time {
  color: #939393;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.experience__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
  .experience__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.experience__company {
  color: #727272;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.experience__position {
  color: #727272;
  font-size: 1.1rem;
  font-weight: 400;
}

.experience__desc {
  color: #939393;
  font-size: 1.4rem;
  line-height: 170%;
  font-weight: 400;
}

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
}

.expertise__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .expertise__section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 30px;
  }
}

.expertise__icon-wrapper {
  padding-right: 20px;
}

.expertise__heading {
  color: #727272;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.expertise__desc {
  line-height: 170%;
  color: #727272;
}

.samples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}

.samples__link {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.samples__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 20px 20px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 460px) {
  .samples__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.samples__item:hover div {
  opacity: 1;
}

.samples__item:hover hr {
  width: 70px;
}

.samples__img {
  display: block;
  width: 100%;
  height: auto;
  background-color: yellow;
}

.samples__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.samples__item-title {
  font-family: Lato, sans-serif;
  color: #727272;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.samples__deco-line {
  background-color: #09b97f;
  width: 0;
  height: 3px;
  border: none;
  margin-bottom: 3rem;
  -webkit-transition: .5s .1s ease-out;
  transition: .5s .1s ease-out;
}

.samples__item-desc {
  font-family: Lato, sans-serif;
  color: #727272;
  font-size: 1.4rem;
  line-height: 170%;
}

.download {
  width: 100%;
  max-width: 800px;
}

.download__button {
  width: 100%;
  display: inline-block;
  border: 1px solid #09b97f;
  height: 50px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #09b97f;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 48px;
  padding: 0 40px;
  border-radius: 25px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .download__button {
    width: auto;
  }
}

.download__button:hover {
  border-color: #09b97f;
  background-color: #09b97f;
  color: #fff;
}

.form__text-input, .form__text-area {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  width: 100%;
  max-width: 800px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0px;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__text-input::-webkit-input-placeholder, .form__text-area::-webkit-input-placeholder {
  color: #939393;
}

.form__text-input:-ms-input-placeholder, .form__text-area:-ms-input-placeholder {
  color: #939393;
}

.form__text-input::-ms-input-placeholder, .form__text-area::-ms-input-placeholder {
  color: #939393;
}

.form__text-input::placeholder, .form__text-area::placeholder {
  color: #939393;
}

.form__text-input:focus, .form__text-area:focus {
  border-bottom-color: #09b97f;
  outline: none;
  padding: 10px 0 10px 20px;
}

.form__text-input:focus + .form__icon, .form__text-area:focus + .form__icon {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form__text-area {
  height: 300px;
}

.form__label {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.form__icon {
  position: absolute;
  top: 16px;
  left: 0;
  width: 10px;
  opacity: 0;
  fill: none;
  stroke-width: 2px;
  stroke: #09b97f;
  vector-effect: non-scaling-stroke;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.form__button {
  width: 100%;
  display: inline-block;
  border: 1px solid #09b97f;
  height: 50px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #09b97f;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 48px;
  padding: 0 40px;
  border-radius: 25px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form__button {
    width: auto;
  }
}

.form__button:hover {
  border-color: #09b97f;
  background-color: #09b97f;
  color: #fff;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  font-family: Lato, sans-serif;
  color: #939393;
  font-size: 1.3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__contact-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 460px) {
  .footer__contact-field {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__contact-field {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: left;
  }
}

.footer__contact-link {
  text-decoration: none;
  color: inherit;
}

.footer__contact-link::after {
  content: " →";
}

.footer__contact-link:hover {
  color: #09b97f;
}

.footer__contact-title {
  margin-bottom: 1.2rem;
}
/*# sourceMappingURL=main.css.map */