.download {
    width: 100%;
    max-width: $max-width;

    &__button {
        width: 100%;
        display: inline-block;
        border: 1px solid $primary-color;
        height: 50px;
        font-family: $main-font;
        font-weight: 700;
        color: $primary-color;
        font-size: 1.4rem;
        text-decoration: none;
        line-height: 48px;
        padding: 0 40px;
        border-radius: 25px;
        transition: .3s;
        margin: 0 auto;
        text-align: center;

        @include media-query(medium) {
            width: auto;
        }

        &:hover {
            border-color: $primary-color;
            background-color: $primary-color;
            color: #fff;
        }

    }

}