.footer {
    &__contact {
        @include flex(row, stretch, stretch);
        font-family: $main-font;
        color: #939393;
        font-size: 1.3rem;
        flex-wrap: wrap;
    }

    &__contact-field {
        flex-grow: 1;
        margin-bottom: 30px;
        flex-basis: 100%;
        text-align: center;
        transition: $short-transition-time;

        @include media-query(small) {
            flex-basis: 50%;
        }

        @include media-query(large) {
            flex-basis: 25%;
            text-align: left;
            margin-bottom: 0;
        }

    }

    &__contact-link {
        text-decoration: none;
        color: inherit;
        transition: $short-transition-time;

        &::after {
            content: " →";
        }

        &:hover {
            color: $primary-color;
        }

    }

    &__contact-title {
        margin-bottom: 1.2rem;
    }

    &__go-up {
        display: none;
        position: absolute;
        top: -80px;
        right: 30px;
        width: 50px;
        height: 50px;
        background-color: $primary-color;
        border-radius: 50%;

        @include media-query(large) {
            display: block;
        }

    }

    &__arrow-icon {
        @include svg(2px, #fff);
    }

}