.form {
    &__text-input {
        display: block;
        font-family: $main-font;
        font-size: 1.6rem;
        width: 100%;
        max-width: $max-width;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 10px 0 10px 0px;
        background-color: transparent;
        transition: $short-transition-time;

        &::placeholder {
            color: $medium-grey-text;
        }

        &:focus {
            border-bottom-color: $primary-color;
            outline: none;
            padding: 10px 0 10px 20px;
        }

        &:focus + .form__icon {
            opacity: 1;
            transform: translateX(0);
        }

    }

    &__text-area {
        @extend .form__text-input;
        height: 300px;
    }

    &__label {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

    &__validation-info {
        display: block;
        opacity: 0;
        font-family: $main-font;
        color: $primary-color;
        font-size: 1.2rem;
        height: 30px;
        margin: -20px 0 0 0;
        transition: $short-transition-time;

        &--error {
            opacity: 1;
        }

    }

    &__icon {
        @include svg(2px, $primary-color);
        position: absolute;
        top: 16px;
        left: 0;
        width: 10px;
        opacity: 0;
        transition: $short-transition-time;
        transform: translateX(-20px);
    }

    &__button {
        width: 100%;
        display: inline-block;
        border: 1px solid $primary-color;
        height: 50px;
        font-family: $main-font;
        font-weight: 700;
        color: $primary-color;
        font-size: 1.4rem;
        text-decoration: none;
        line-height: 48px;
        padding: 0 40px;
        border-radius: 25px;
        transition: $short-transition-time;
        margin: 0 auto;
        text-align: center;
        background: transparent;
        cursor: pointer;
        

        @include media-query(medium) {
            width: auto;
        }

        &:hover {
            border-color: $primary-color;
            background-color: $primary-color;
            color: #fff;
        }
    }

}