.hero {
    @include flex(column, stretch, stretch);

    @include media-query(large) {
        flex-direction: row;
        height: 100vh;
    }

    &__photo {
        @include flex(row, center, center);
        flex-basis: 35%;
        flex-shrink: 1;
        padding: 30px 0 0 0;

        @include media-query(large) {
            background-color: #fcfcfc;
            padding: 80px;
        }
    }

    &__content-wrapper {
        @include flex(column, stretch, flex-start);
        padding: 30px;
        flex-basis: 65%;
        flex-shrink: 1;

        @include media-query(large) {
            padding: 80px;
        }

    }

    &__img {
        width: 150px;
        height: 150px;
        background-color: rgb(143, 143, 143);
        border-radius: 50%;

        @include media-query(large) {
            position: relative;
            top: -3rem;
            width: 220px;
            height: 220px;
        }

    }

    &__heading1 {
        color: #939393;
        font-family: $main-font;
        font-weight: 300;
        font-size: 4rem;
        line-height: 100%;
        margin-bottom: 2rem;
        text-align: center;

        @include media-query(large) {
            text-align: left;
            font-size: 6rem;
            margin-bottom: 3rem;
        }

    }

    &__surname {
        color: $primary-color;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__heading2 {
        color: #939393;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.7rem;
        text-align: center;

        @include media-query(large) {
            text-align: left;
            font-size: 2.2rem;
        }

    }

    &__icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 15px;

        &:hover svg {
            fill: $primary-color;
        }

        &:last-child {
            margin: 0;
        }

    }

    &__content {
        @include flex(column, center, center);
        
        @include media-query(large) {
            flex-basis: 100%;
            align-items: flex-start;
        }
        
    }

    &__details {
        @include flex(column, center, space-between);
        width: 100%;

        @include media-query(large) {
            flex-direction: row;
            align-items: center;
        }

    }

    &__social-media {
        font-size: 0;
        margin: 50px 0;

        @include media-query(large) {
            margin: 0;
        }

    }

    &__contact {
        @include flex(row, stretch, stretch);
        font-family: $main-font;
        color: #939393;
        font-size: 1.3rem;
        flex-wrap: wrap;
    }

    &__contact-field {
        flex-grow: 1;
        padding-top: 25px;
        flex-basis: 100%;
        text-align: center;
        transition: $short-transition-time;
        border: none;

        &:hover {
            border-color: $primary-color;
            color: $primary-color;
        }

        @include media-query(small) {
            flex-basis: 50%;        
        }

        @include media-query(large) {
            flex-basis: 25%;
            text-align: left;
            border-top: 1px solid #dddddd;    
        }

    }

    &__contact-link {
        text-decoration: none;
        color: inherit;

        &::after {
            content: " →";
        }

    }

    &__contact-title {
        margin-bottom: 1.2rem;
    }

    &__svg-icon {
        transition: $short-transition-time;
        fill: $medium-grey-text;
    }

}