.samples {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: $max-width;

    @include media-query(small) {
        grid-template-columns: 1fr 1fr;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        font-family: $main-font;
        font-size: 1.7rem;
        font-weight: 700;
        color: $dark-grey-text;
        // color: $primary-color;
        text-decoration: none;
        margin-bottom: 10px;
    }

    &__line {
        display: none;
    }

    &__desc {
        font-family: $main-font;
        font-size: 1.4rem;
        color: $medium-grey-text;
        text-decoration: none;
        line-height: 140%;
    }

    &__img {
        display: block;
        width: 100%;
        background-color: #ccc;
        margin-bottom: 15px;
    }

    &__item {
        position: relative;
    }

}