.wrapper {
    @include flex(column, stretch, stretch);
    width: 100%;

    @include media-query(medium) {
        flex-direction: row;
    }

    &__header {
        text-align: left;
        padding: 30px;
        flex-basis: 35%;
        flex-grow: 1;
        border-top: 1px solid rgb(233, 233, 233);
        border-bottom: 1px solid rgb(233, 233, 233);

        @include media-query(medium) {
            border: none;
            text-align: right;
            padding: 60px;
        }

        &--dark {
            background-color: #f8f8f8;
        }

        &--light {
            background-color: #fbfbfb;
        }

        &--footer {
            background-color: #2e2e2e;
        }

    }

    &__content {
        padding: 30px;
        background-color: lightgrey;
        flex-basis: 65%;
        flex-grow: 1;

        @include media-query(medium) {
            padding: 60px;
        }

        &--dark {
            background-color: #fcfcfc;
        }

        &--light {
            background-color: #fff;
        }

        &--footer {
            background-color: #353535;
        }
    }

    &__heading {
        font-family: $main-font;
        font-size: 1.7rem;
        color: $dark-grey-text;
        margin-bottom: 1rem;
    }

    &__desc {
        font-family: $main-font;
        font-size: 1.4rem;
        color: #727272;   
    }

}