.app {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fcfcfc;

    &--open {
        display: block;
    }

    &--js {
        background: url('../assets/svg/js-symbol.svg') -200px 50%/650px 600px no-repeat #fcfcfc;
    }

    &--react {
        background: url('../assets/svg/react-symbol.svg') -200px 50%/650px 600px no-repeat #fcfcfc;
    }

    // Desc section
    &__content {
        height: 100%;
        padding: 100px 50px;
        background-color: #fff;

        @include media-query(large) {
            padding: 120px 100px 120px 60px;
            margin-left: 500px;
        }

    }

    &__title {
        font-family: $main-font;
        color: $primary-color;
        font-weight: 300;
        font-size: 4rem;
        margin-bottom: 35px;
        max-width: 900px;
    }

    &__lead {
        font-family: $main-font;
        font-size: 2.5rem;
        line-height: 140%;
        font-weight: 300;
        margin-bottom: 35px;
        color: #616161;
        max-width: 900px;
    }

    &__text {
        font-family: $main-font;
        font-size: 1.6rem;
        line-height: 170%;
        font-weight: 300;
        margin-bottom: 35px;
        color: #616161;
        max-width: 900px;
    }

    &__link {
        display: inline-block;
        margin-right: 40px;
        font-family: $main-font;
        font-size: 1.6rem;
        font-weight: 300;
        color: $primary-color;
        text-decoration: none;

        &::after {
            content: " →";
        }

    }

    // Misc
    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 40px;
        height: 40px;
        z-index: 50;
        cursor: pointer;
    }

    &__close:before, &__close:after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $primary-color;
        top: 19px;
        left: 0;
        width: 40px;
        z-index: 100;
    }

    &__close:before {
        transform: rotate(45deg);
    }

    &__close:after {
        transform: rotate(-45deg);
    }

}