.preloader {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
    opacity: 1;
    transition: 1s;

    &--disappear {
        opacity: 0;
    }

    &--hidden {
        display: none;
    }

    // Dots
    &__dots-wrapper {
        position: relative;
        width: 80px;
        height: 20px;
    }

    &__dot {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primary-color;
        animation-fill-mode: both;
        animation: dot-animation 1.4s infinite ease-in-out;
        animation-delay: -0.32s;
    }

    &__dot:nth-child(1) {
        left: 30px;
        animation-delay: -0.16s;
    }

    &__dot:nth-child(2) {
        left: 60px;
        animation-delay: 0s;
    }

}

@keyframes dot-animation {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1); }
}