.samples {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: $max-width;

    @include media-query(small) {
        grid-template-columns: 1fr 1fr;
    }

    &__link {
        display: block;
        width: 100%;
        text-decoration: none;
        position: relative;

        &:hover .samples__content {
            opacity: 1;
        }

        &:hover .samples__line {
            width: 100px;
        }

    }

    &__title {
        font-family: $main-font;
        font-size: 1.8rem;
        font-weight: 700;
        color: $dark-grey-text;
        text-decoration: none;
        margin-bottom: 10px;
        color: $dark-grey-text;

        @include media-query(large) { 
            color: #fff;
        }

    }

    &__content {
        display: block;
        margin: 20px 0 30px 0;

        @include media-query(large) {
            @include flex(column, stretch, stretch);
            margin: 0;
            transition: $short-transition-time;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($primary-color, .9);
            background-image: url('../assets/svg/buttons.svg');
            background-repeat: no-repeat;
            background-position: right top;
            background-size: 115px 35px;
            padding: 60px 30px 30px 30px;
            opacity: 0;
        }

    }

    &__line {
        display: none;
        width: 0px;
        height: 2px;
        background-color: #fff;
        border: none;
        margin-bottom: 15px;
        transition: .9s ease-out;

        @include media-query(large) { 
            display: block;
        }

    }

    &__desc {
        color: $dark-grey-text;
        font-family: $main-font;
        font-size: 1.3rem;
        text-decoration: none;
        line-height: 140%;
        flex-grow: 1;

        @include media-query(large) { 
            color: #fff;
        }

    }

    &__more {
        display: none;
        color: $dark-grey-text;
        font-family: $main-font;
        font-size: 1.3rem;
        text-align: right;

        @include media-query(large) { 
            display: block;
            color: #fff;
        }

    }

    &__img {
        display: block;
        width: 100%;
        background-color: #ccc;
    }

}