// Fonts
$main-font: Lato, sans-serif;

// Colours
$primary-color: #09b97f;
$dark-grey-text: #727272;
$medium-grey-text: #939393;
$light-grey-text: #cccccc;

// Transitions
$short-transition-time: .3s;
$long-transition-time: .5s;

// Layout
$max-width: 800px;

// Breakpoints
$breakpoints: (
    xsmall: (min-width: 320px),
    small: (min-width: 460px),
    medium: (min-width: 768px),
    large: (min-width: 1024px),
    xlarge: (min-width: 1200px),
);